.jost {
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.35px;
}

.jost.hint {
  font-size: 16px;
}

.jost.subheader {
  font-size: 22px;
}

.jost.header {
  font-size: 28px;
}

.jost.semibold {
  font-weight: 400;
}

.jost.bold {
  font-weight: 500;
}

.jost.italic {
  font-style: italic;
}