$purple-palette: #41436A;
$violet-palette: #984063;
$red-palette: #F64668;
$orange-palette: #FE9677;

$container-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$container-padding: 16px;
$container-radius: 8px;