@import '../../common/styles/variables.scss';

:host {
  width: 400px;
  height: 100%;

  .map {
    height: calc(720px - 32px);

    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    gap: $container-padding;

    .map__location {
      height: 400px;
      min-height: 400px;

      position: relative;

      padding: $container-padding * 2;
      box-sizing: border-box;

      border-radius: $container-radius;
      background-color: black;
      box-shadow: $container-shadow;

      .locations {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-rows: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;

        .locations__item {
          background-color: $orange-palette;
          border-radius: $container-radius;

          margin: 5px;

          img {
            width: 100%;
            height: 100%;

            object-fit: cover;
          }
        }

        .locations__item.current {
          background-color: white;
        }
      }

      .north-sign {
        position: absolute;
        top: 5px;
        left: 190px;

        color: white;
      }

      .west-sign {
        position: absolute;
        top: 190px;
        right: 14px;

        color: white;
      }

      .south-sign {
        position: absolute;
        bottom: 7px;
        left: 190px;

        color: white;
      }

      .east-sign {
        position: absolute;
        top: 190px;
        left: 14px;

        color: white;
      }
    }

    .map__description {
      width: 400px;
      flex-grow: 1;

      padding: $container-padding;
      box-sizing: border-box;

      overflow: hidden;

      display: flex;
      flex-direction: column;

      gap: calc($container-padding / 2);

      border-radius: $container-radius;
      background-color: $orange-palette;
      box-shadow: $container-shadow;

      .map__description__header {
        height: 32px;
      }

      .map__description__text {
        flex-grow: 1;

        overflow: auto;
      }

      .map__description__directions, .map__description__objects {
        min-height: 53px;
      }
    }
  }
}